// WideScreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(5, 1fr);
  }
}

// desktop and laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  main#home .smm-heading {
    font-size: 2rem;
    margin-top: 10vh;
    margin-left: 0;

    .text-secondary {
      display: block;
    }
  }

  main#home h2 {
    font-size: 1rem;
  }
}
// tablet and small laptops
@include mediaMd {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .menu {
    opacity: 0.9;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      margin-top: 7px;
      background: url("../img/portraitSmall.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 200;

    &.lg-heading {
      font-size: 2rem;
      line-height: 1;
    }
    &.sm-heading {
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }
  }

  #about {
    .bio {
      font-size: 0.8rem;
    }
  }

  .menu {
    .nav-link {
      font-size: 24px;
    }
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .languages {
    font-size: 0.2rem;
    h2 {
      margin: 15px 0;
    }
    font-size: 0.5rem;
    margin: 0.2rem 0;
    .card {
      margin: 10px;
    }
  }

  main {
    &#home .smm-heading {
      margin-top: 10vh;
      font-size: 0.8rem;
    }
    &#home h1 {
      font-size: 3rem;

      .text-secondary {
        display: inline;
      }
    }

    &#home h2 {
      font-size: 0.8rem;
    }

    .icons {
      font-size: 0.5rem;
    }
  }
}
